	.container-feedback {
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
	  justify-content: start;
	  align-items: auto;
	  align-content: center;
	  padding-left: 30px
	}
	.item {
	  flex: 0 0 auto;
	  margin: 1px;
	}
	
	.sidebar-brand {
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  transition: all 0.3s ease; /* Smooth transition for changes */
	}
	.sidebar-logo {
	  max-width: 700px;
	  max-height: 45px;
	  width: 100%;
	  height: auto;
	  transition: max-width 0.3s ease, max-height 0.3s ease;
	}
	#sidebarToggle:checked ~ .sidebar-brand .sidebar-logo {
	  max-width: 35px; 
	  max-height: 35px; 
	}